/* .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    border: 1px solid green;
} */



.card{
    border: 1px solid green;
    margin-bottom: 2%;
    margin-top: 5%;
}